In [1]:
import pandas as pd

In [2]:
url = "https://ncses.nsf.gov/pubs/nsf20301/assets/data-tables/tables/nsf20301-tab056.xlsx"
seds_2017 = pd.read_excel(url, header = 3)
seds_2017 = seds_2017[seds_2017.Characteristic != "Unknown"].reset_index(drop = True)

begin_male = seds_2017[seds_2017.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2017[seds_2017.Characteristic=="Female doctorate recipients (number)"].index[0]
    
questions = []



for i in range(0,len(seds_2017)) :
    if i < begin_male :
        questions += [seds_2017.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2017.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2017.Characteristic[i]+"_female"]
            
seds_2017["questions"] = questions


for i in range(58 , 70 , 2) :
    url = "https://ncses.nsf.gov/pubs/nsf20301/assets/data-tables/tables/nsf20301-tab0"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 3)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2017 = seds_2017.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])
    #seds_2017 = pd.concat(seds_2017, df)

#seds_2017.tail()

In [4]:
td_seds_2017 = seds_2017.T
td_seds_2017.columns = td_seds_2017.iloc[list(seds_2017.columns).index("questions")]
td_seds_2017["year"] = ["2017"]*len(td_seds_2017)

td_seds_2017 = td_seds_2017.drop(["Characteristic" , "questions"])

In [39]:
#okie doke let's do 2016 now! 
#copy-pasting
#then replacing all the 17s with 16s
#Next, fix the urls



url = "https://nsf.gov/statistics/2018/nsf18304/data/tab56.xlsx"
seds_2016 = pd.read_excel(url, header = 3)
seds_2016 = seds_2016[seds_2016.Characteristic != "Unknown"].reset_index(drop = True)
seds_2016.dropna(subset = ["Characteristic"], inplace=True)

#These two are new, in 2016 too
unwanted = seds_2016.columns[seds_2016.columns.str.startswith('Unnamed:')]
seds_2016.drop(columns=unwanted, inplace=True)


#wish I didn't have to hard-code this to last five rows
#this is the main difference between 2016 and 1017:
#needed to drop bottom rows, which were read in from the bottom of the csv
seds_2016.drop(seds_2016.tail(6).index,inplace=True) # drop last n rows



begin_male = seds_2016[seds_2016.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2016[seds_2016.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []


for i in range(0,len(seds_2016)) :
    if i < begin_male :
        questions += [seds_2016.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2016.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2016.Characteristic[i]+"_female"]

seds_2016["questions"] = questions

        
    
for i in range(58 , 70 , 2) :
    url = "https://nsf.gov/statistics/2018/nsf18304/data/tab"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 3)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    
    df.drop(df.tail(6).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2016 = seds_2016.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])
    #seds_2016 = pd.concat(seds_2016, df)


seds_2016.head()

,Characteristic,All life sciences fields,Agricultural sciences and natural resources,Biological and biomedical sciences,Health sciences,questions,All physical sciences and earth sciences fields,Chemistry,"Geosciences, atmospheric, and ocean sciences",Physics and astronomy,...,Education administration,Education research,Teacher education,Teaching fields,Other education,All humanities and arts fields,Foreign languages and literature,History,Letters,Other humanities and arts
0,All doctorate recipients (number)a,12568,1385.000,8884,2299.000,All doctorate recipients (number)a_all,6252,2704.000,1227.000,2321.000,...,829,2386.000,181,1167.00,590.000,5484,599.000,1147.000,1533.000,2205.000
1,Sex (%),NaN,NaN,NaN,NaN,Sex (%)_all,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,0.449,0.549,0.469,0.313,Male_all,0.686,0.634,0.584,0.800,...,0.369,0.301,0.238,0.27,0.283,0.481,0.381,0.541,0.391,0.540
3,Female,0.551,0.451,0.531,0.687,Female_all,0.314,0.366,0.416,0.199,...,0.631,0.699,0.762,0.73,0.717,0.518,0.619,0.459,0.609,0.459
4,Citizenship (%),NaN,NaN,NaN,NaN,Citizenship (%)_all,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
td_seds_2016 = seds_2016.T
td_seds_2016.columns = td_seds_2016.iloc[list(seds_2016.columns).index("questions")]
td_seds_2016["year"] = ["2016"]*len(td_seds_2016)

td_seds_2016 = td_seds_2016.drop(["Characteristic" , "questions"])

#td_seds_2016.head()

In [66]:
#okie doke let's do 2015 now! 
#copy-pasting
#then replacing all the 16s with 15s
#Next, fix the urls
#This one was just copy paste and a fixed url from 2016. Absolutely no errors. 



url = "https://nsf.gov/statistics/2017/nsf17306/data/tab56.xlsx"
seds_2015 = pd.read_excel(url, header = 3)
seds_2015 = seds_2015[seds_2015.Characteristic != "Unknown"].reset_index(drop = True)
seds_2015.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2015.columns[seds_2015.columns.str.startswith('Unnamed:')]
seds_2015.drop(columns=unwanted, inplace=True)


#wish I didn't have to hard-code this to last five rows
seds_2015.drop(seds_2015.tail(6).index,inplace=True) # drop last n rows



begin_male = seds_2015[seds_2015.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2015[seds_2015.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []



for i in range(0,len(seds_2015)) :
    if i < begin_male :
        questions += [seds_2015.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2015.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2015.Characteristic[i]+"_female"]

seds_2015["questions"] = questions


for i in range(58 , 70 , 2) :
    url = "https://nsf.gov/statistics/2017/nsf17306/data/tab"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 3)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    
    df.drop(df.tail(6).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2015 = seds_2015.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])




#seds_2015.tail(10)

In [56]:
td_seds_2015 = seds_2015.T
td_seds_2015.columns = td_seds_2015.iloc[list(seds_2015.columns).index("questions")]
td_seds_2015["year"] = ["2015"]*len(td_seds_2015)

td_seds_2015 = td_seds_2015.drop(["Characteristic" , "questions"])

#td_seds_2015.head()

In [65]:
#okie doke let's do 2014 now! 
#copy-pasting
#then replacing all the 15s with 14s
#Next, fix the urls



url = "https://nsf.gov/statistics/2016/nsf16300/data/tab56.xlsx"
seds_2014 = pd.read_excel(url, header = 1)
seds_2014 = seds_2014[seds_2014.Characteristic != "Unknown"].reset_index(drop = True)
seds_2014.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2014.columns[seds_2014.columns.str.startswith('Unnamed:')]
seds_2014.drop(columns=unwanted, inplace=True)
seds_2014.reset_index(drop = True , inplace = True)


#wish I didn't have to hard-code this to last five rows
seds_2014.drop(seds_2014.tail(4).index,inplace=True) # drop last n rows



begin_male = seds_2014[seds_2014.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2014[seds_2014.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []



for i in range(0,len(seds_2014)) :
    if i < begin_male :
        questions += [seds_2014.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2014.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2014.Characteristic[i]+"_female"]

seds_2014["questions"] = questions


for i in range(58 , 70 , 2) :
    url = "https://nsf.gov/statistics/2016/nsf16300/data/tab"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 1)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    df.reset_index(drop = True , inplace = True)

    
    df.drop(df.tail(4).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2014 = seds_2014.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])



#seds_2014.tail()

In [53]:
td_seds_2014 = seds_2014.T
td_seds_2014.columns = td_seds_2014.iloc[list(seds_2014.columns).index("questions")]
td_seds_2014["year"] = ["2014"]*len(td_seds_2014)

td_seds_2014 = td_seds_2014.drop(["Characteristic" , "questions"])

#td_seds_2014.head()

In [74]:
#okie doke last one!! 2013 
#copy-pasting
#then replacing all the 14s with 13s
#Next, fix the urls




url = "https://nsf.gov/statistics/sed/2013/data/tab56.xlsx"
seds_2013 = pd.read_excel(url, header = 1)
seds_2013 = seds_2013[seds_2013.Characteristic != "Unknown"].reset_index(drop = True)
seds_2013.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2013.columns[seds_2013.columns.str.startswith('Unnamed:')]
seds_2013.drop(columns=unwanted, inplace=True)
seds_2013.reset_index(drop = True , inplace = True)


#wish I didn't have to hard-code this to last five rows
seds_2013.drop(seds_2013.tail(5).index,inplace=True) # drop last n rows



begin_male = seds_2013[seds_2013.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2013[seds_2013.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []




for i in range(0,len(seds_2013)) :
    if i < begin_male :
        questions += [seds_2013.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2013.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2013.Characteristic[i]+"_female"]

seds_2013["questions"] = questions


for i in range(58 , 70 , 2) :
    url = "https://nsf.gov/statistics/sed/2013/data/tab"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 1)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    df.reset_index(drop = True , inplace = True)

    
    df.drop(df.tail(5).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2013 = seds_2013.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])




#seds_2013.tail()

In [73]:
td_seds_2013 = seds_2013.T
td_seds_2013.columns = td_seds_2013.iloc[list(seds_2013.columns).index("questions")]
td_seds_2013["year"] = ["2013"]*len(td_seds_2013)

td_seds_2013 = td_seds_2013.drop(["Characteristic" , "questions"])

#td_seds_2013.head()

In [10]:
#append all dfs for years

In [19]:
td_seds_2017.to_csv("C:/Users/240-370-8956/Dropbox/Research/Visas/Analysis/seds_2017.csv")