In [1]:
import pandas as pd

In [2]:
url = "https://ncses.nsf.gov/pubs/nsf20301/assets/data-tables/tables/nsf20301-tab056.xlsx"
seds_2017 = pd.read_excel(url, header = 3)
seds_2017 = seds_2017[seds_2017.Characteristic != "Unknown"].reset_index(drop = True)

begin_male = seds_2017[seds_2017.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2017[seds_2017.Characteristic=="Female doctorate recipients (number)"].index[0]
    
questions = []



for i in range(0,len(seds_2017)) :
    if i < begin_male :
        questions += [seds_2017.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2017.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2017.Characteristic[i]+"_female"]
            
seds_2017["questions"] = questions


for i in range(58 , 70 , 2) :
    url = "https://ncses.nsf.gov/pubs/nsf20301/assets/data-tables/tables/nsf20301-tab0"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 3)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2017 = seds_2017.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])
    #seds_2017 = pd.concat(seds_2017, df)

#seds_2017.tail()

In [3]:
td_seds_2017 = seds_2017.T


td_seds_2017.columns = td_seds_2017.iloc[list(seds_2017.columns).index("questions")]

td_seds_2017["year"] = ["2017"]*len(td_seds_2017)


td_seds_2017 = td_seds_2017.drop(["Characteristic" , "questions"])


#This line gives the index the major_year. I'd prefer to keep these columns separate for Stata purposes. 
#Same line repeats for each year
#td_seds_2017.index = td_seds_2017.index+"_2017"




#td_seds_2017.head()

In [4]:
#okie doke let's do 2016 now! 
#copy-pasting
#then replacing all the 17s with 16s
#Next, fix the urls



url = "https://nsf.gov/statistics/2018/nsf18304/data/tab56.xlsx"
seds_2016 = pd.read_excel(url, header = 3)
seds_2016 = seds_2016[seds_2016.Characteristic != "Unknown"].reset_index(drop = True)
seds_2016.dropna(subset = ["Characteristic"], inplace=True)

#These two are new, in 2016 too
unwanted = seds_2016.columns[seds_2016.columns.str.startswith('Unnamed:')]
seds_2016.drop(columns=unwanted, inplace=True)


#wish I didn't have to hard-code this to last five rows
#this is the main difference between 2016 and 1017:
#needed to drop bottom rows, which were read in from the bottom of the csv
seds_2016.drop(seds_2016.tail(6).index,inplace=True) # drop last n rows



begin_male = seds_2016[seds_2016.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2016[seds_2016.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []


for i in range(0,len(seds_2016)) :
    if i < begin_male :
        questions += [seds_2016.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2016.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2016.Characteristic[i]+"_female"]

seds_2016["questions"] = questions

        
    
for i in range(58 , 70 , 2) :
    url = "https://nsf.gov/statistics/2018/nsf18304/data/tab"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 3)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    
    df.drop(df.tail(6).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2016 = seds_2016.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])
    #seds_2016 = pd.concat(seds_2016, df)


#seds_2016.head()

In [5]:
td_seds_2016 = seds_2016.T
td_seds_2016.columns = td_seds_2016.iloc[list(seds_2016.columns).index("questions")]
td_seds_2016["year"] = ["2016"]*len(td_seds_2016)

td_seds_2016 = td_seds_2016.drop(["Characteristic" , "questions"])

#td_seds_2016.index = td_seds_2016.index+"_2016"


#td_seds_2016.head()

In [6]:
#okie doke let's do 2015 now! 
#copy-pasting
#then replacing all the 16s with 15s
#Next, fix the urls
#This one was just copy paste and a fixed url from 2016. Absolutely no errors. 



url = "https://nsf.gov/statistics/2017/nsf17306/data/tab56.xlsx"
seds_2015 = pd.read_excel(url, header = 3)
seds_2015 = seds_2015[seds_2015.Characteristic != "Unknown"].reset_index(drop = True)
seds_2015.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2015.columns[seds_2015.columns.str.startswith('Unnamed:')]
seds_2015.drop(columns=unwanted, inplace=True)


#wish I didn't have to hard-code this to last five rows
seds_2015.drop(seds_2015.tail(6).index,inplace=True) # drop last n rows



begin_male = seds_2015[seds_2015.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2015[seds_2015.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []



for i in range(0,len(seds_2015)) :
    if i < begin_male :
        questions += [seds_2015.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2015.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2015.Characteristic[i]+"_female"]

seds_2015["questions"] = questions


for i in range(58 , 70 , 2) :
    url = "https://nsf.gov/statistics/2017/nsf17306/data/tab"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 3)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    
    df.drop(df.tail(6).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2015 = seds_2015.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])




#seds_2015.tail(10)

In [7]:
td_seds_2015 = seds_2015.T
td_seds_2015.columns = td_seds_2015.iloc[list(seds_2015.columns).index("questions")]
td_seds_2015["year"] = ["2015"]*len(td_seds_2015)

td_seds_2015 = td_seds_2015.drop(["Characteristic" , "questions"])

#td_seds_2015.index = td_seds_2015.index+"_2015"


#td_seds_2015.head()

In [8]:
#okie doke let's do 2014 now! 
#copy-pasting
#then replacing all the 15s with 14s
#Next, fix the urls



url = "https://nsf.gov/statistics/2016/nsf16300/data/tab56.xlsx"
seds_2014 = pd.read_excel(url, header = 1)
seds_2014 = seds_2014[seds_2014.Characteristic != "Unknown"].reset_index(drop = True)
seds_2014.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2014.columns[seds_2014.columns.str.startswith('Unnamed:')]
seds_2014.drop(columns=unwanted, inplace=True)
seds_2014.reset_index(drop = True , inplace = True)


#wish I didn't have to hard-code this to last five rows
seds_2014.drop(seds_2014.tail(4).index,inplace=True) # drop last n rows



begin_male = seds_2014[seds_2014.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2014[seds_2014.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []



for i in range(0,len(seds_2014)) :
    if i < begin_male :
        questions += [seds_2014.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2014.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2014.Characteristic[i]+"_female"]

seds_2014["questions"] = questions


for i in range(58 , 70 , 2) :
    url = "https://nsf.gov/statistics/2016/nsf16300/data/tab"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 1)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    df.reset_index(drop = True , inplace = True)

    
    df.drop(df.tail(4).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2014 = seds_2014.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])


#THIS WORKS
#seds_2014.head()

In [9]:
td_seds_2014 = seds_2014.T

td_seds_2014.index = td_seds_2014.index.str.replace('\n', '', regex=True)

td_seds_2014.columns = td_seds_2014.iloc[list(seds_2014.columns).index("questions")]
td_seds_2014["year"] = ["2014"]*len(td_seds_2014)


td_seds_2014 = td_seds_2014.drop(["Characteristic" , "questions"])

#td_seds_2014.index = td_seds_2014.index+"_2014"


#td_seds_2014.head()

In [10]:
#okie doke last one!! 2013 
#copy-pasting
#then replacing all the 14s with 13s
#Next, fix the urls




url = "https://nsf.gov/statistics/sed/2013/data/tab56.xlsx"
seds_2013 = pd.read_excel(url, header = 1)
seds_2013 = seds_2013[seds_2013.Characteristic != "Unknown"].reset_index(drop = True)
seds_2013.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2013.columns[seds_2013.columns.str.startswith('Unnamed:')]
seds_2013.drop(columns=unwanted, inplace=True)
seds_2013.reset_index(drop = True , inplace = True)


#wish I didn't have to hard-code this to last five rows
seds_2013.drop(seds_2013.tail(5).index,inplace=True) # drop last n rows



begin_male = seds_2013[seds_2013.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2013[seds_2013.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []




for i in range(0,len(seds_2013)) :
    if i < begin_male :
        questions += [seds_2013.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2013.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2013.Characteristic[i]+"_female"]

seds_2013["questions"] = questions


for i in range(58 , 70 , 2) :
    url = "https://nsf.gov/statistics/sed/2013/data/tab"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 1)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    df.reset_index(drop = True , inplace = True)

    
    df.drop(df.tail(5).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2013 = seds_2013.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])




#seds_2013.tail()

In [11]:
td_seds_2013 = seds_2013.T

td_seds_2013.index = td_seds_2013.index.str.replace('\n', '', regex=True)

td_seds_2013.columns = td_seds_2013.iloc[list(seds_2013.columns).index("questions")]
td_seds_2013["year"] = ["2013"]*len(td_seds_2013)

td_seds_2013 = td_seds_2013.drop(["Characteristic" , "questions"])

#td_seds_2013.index = td_seds_2013.index+"_2013"


#td_seds_2013.head()

In [12]:
#merge 2013-2017 into one df

seds_13_17 = pd.DataFrame()

dfs = [td_seds_2013, td_seds_2014, td_seds_2015, td_seds_2016, td_seds_2017]

for i in dfs:  
    seds_13_17 = seds_13_17.append(i)
    
seds_13_17.head()

C:\Users\240-370-8956\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,Age at doctorate (median years)_all,Age at doctorate (median years)_female,Age at doctorate (median years)_male,All doctorate recipients (number)a_all,Bachelor's in same field as doctorate (%)b_all,Bachelor's in same field as doctorate (%)b_female,Bachelor's in same field as doctorate (%)b_male,Citizenship (%)_all,Citizenship (%)_female,Citizenship (%)_male,...,Temporary visa holder_all,Temporary visa holder_female,Temporary visa holder_male,Time to doctorate (median years)_all,Time to doctorate (median years)_female,Time to doctorate (median years)_male,U.S. citizen or permanent resident_all,U.S. citizen or permanent resident_female,U.S. citizen or permanent resident_male,year
All life sciences fields,31.1,30.9,31.3,12305,50.1,52.2,47.5,NaN,NaN,NaN,...,25.8,23.1,29,NaN,NaN,NaN,68.6,71.3,65.3,2013
Agricultural sciences and natural resources,32.4,31.7,33.3,1329,44.2,39.6,48.2,NaN,NaN,NaN,...,38.8,39.1,38.6,NaN,NaN,NaN,55.5,55.4,55.6,2013
"Biological, biomedical sciences",30.4,30.1,30.8,8471,53.3,56.7,49.6,NaN,NaN,NaN,...,25.6,24.2,27.3,NaN,NaN,NaN,69.1,70.6,67.4,2013
Health sciences,35,35.9,33.7,2505,42.1,44.9,36.2,NaN,NaN,NaN,...,19.2,14.5,29.2,NaN,NaN,NaN,73.8,79,62.9,2013
All physical sciences fields,29.9,29.6,30,9290,67.4,68.5,67,NaN,NaN,NaN,...,42.1,39.1,43.4,NaN,NaN,NaN,52.4,55.7,51.1,2013

In [13]:
folder = "C:/Users/240-370-8956/Dropbox/Research/Visas/Data/NSF Doctorates/SED_2012/data"
    
seds_2012 = pd.read_excel(folder+"/tab56.xlsx", header = 1)
seds_2012 = seds_2012[seds_2012.Characteristic != "Unknown"].reset_index(drop = True)
seds_2012.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2012.columns[seds_2012.columns.str.startswith('Unnamed:')]
seds_2012.drop(columns=unwanted, inplace=True)
seds_2012.reset_index(drop = True , inplace = True)

#wish I didn't have to hard-code this to last five rows
seds_2012.drop(seds_2012.tail(5).index,inplace=True) # drop last n rows


begin_male = seds_2012[seds_2012.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2012[seds_2012.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []




for i in range(0,len(seds_2012)) :
    if i < begin_male :
        questions += [seds_2012.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2012.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2012.Characteristic[i]+"_female"]

seds_2012["questions"] = questions

for i in range(58 , 70 , 2) :
    df = pd.read_excel(folder+"/tab"+str(i)+".xlsx", header = 1)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    df.reset_index(drop = True , inplace = True)

    
    df.drop(df.tail(5).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2012 = seds_2012.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])


td_seds_2012 = seds_2012.T

td_seds_2012.index = td_seds_2012.index.str.replace('\n', '', regex=True)

td_seds_2012.columns = td_seds_2012.iloc[list(seds_2012.columns).index("questions")]
td_seds_2012["year"] = ["2012"]*len(td_seds_2012)

td_seds_2012 = td_seds_2012.drop(["Characteristic" , "questions"])

#td_seds_2012.index = td_seds_2012.index+"_2012"


#td_seds_2012.head()

In [14]:
folder = "C:/Users/240-370-8956/Dropbox/Research/Visas/Data/NSF Doctorates/sed_2011/data"
    
seds_2011 = pd.read_excel(folder+"/tab56.xls", header = 1)
seds_2011 = seds_2011[seds_2011.Characteristic != "Unknown"].reset_index(drop = True)
seds_2011.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2011.columns[seds_2011.columns.str.startswith('Unnamed:')]
seds_2011.drop(columns=unwanted, inplace=True)
seds_2011.reset_index(drop = True , inplace = True)

#wish I didn't have to hard-code this to last five rows
seds_2011.drop(seds_2011.tail(5).index,inplace=True) # drop last n rows


begin_male = seds_2011[seds_2011.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2011[seds_2011.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []




for i in range(0,len(seds_2011)) :
    if i < begin_male :
        questions += [seds_2011.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2011.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2011.Characteristic[i]+"_female"]

seds_2011["questions"] = questions

for i in range(58 , 70 , 2) :
    df = pd.read_excel(folder+"/tab"+str(i)+".xls", header = 1)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    df.reset_index(drop = True , inplace = True)

    
    df.drop(df.tail(5).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2011 = seds_2011.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])


td_seds_2011 = seds_2011.T

td_seds_2011.index = td_seds_2011.index.str.replace('\n', '', regex=True)

td_seds_2011.columns = td_seds_2011.iloc[list(seds_2011.columns).index("questions")]
td_seds_2011["year"] = ["2011"]*len(td_seds_2011)

td_seds_2011 = td_seds_2011.drop(["Characteristic" , "questions"])

#td_seds_2011.index = td_seds_2011.index+"_2011"


#td_seds_2011.head()

In [29]:
folder = "C:/Users/240-370-8956/Dropbox/Research/Visas/Data/NSF Doctorates/sed_2010/data"
    
seds_2010 = pd.read_excel(folder+"/tab56.xls", header = 1)
seds_2010 = seds_2010[seds_2010.Characteristic != "Unknown"].reset_index(drop = True)
seds_2010.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2010.columns[seds_2010.columns.str.startswith('Unnamed:')]
seds_2010.drop(columns=unwanted, inplace=True)
seds_2010.reset_index(drop = True , inplace = True)

#wish I didn't have to hard-code this to last five rows
seds_2010.drop(seds_2010.tail(5).index,inplace=True) # drop last n rows


begin_male = seds_2010[seds_2010.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2010[seds_2010.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []




for i in range(0,len(seds_2010)) :
    if i < begin_male :
        questions += [seds_2010.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2010.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2010.Characteristic[i]+"_female"]

seds_2010["questions"] = questions

for i in range(58 , 70 , 2) :
    df = pd.read_excel(folder+"/tab"+str(i)+".xls", header = 1)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    df.reset_index(drop = True , inplace = True)

    
    df.drop(df.tail(5).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2010 = seds_2010.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])


td_seds_2010 = seds_2010.T

td_seds_2010.index = td_seds_2010.index.str.replace('\n', '', regex=True)

td_seds_2010.columns = td_seds_2010.iloc[list(seds_2010.columns).index("questions")]
td_seds_2010["year"] = ["2010"]*len(td_seds_2010)

td_seds_2010 = td_seds_2010.drop(["Characteristic" , "questions"])

#td_seds_2010.index = td_seds_2010.index+"_2010"

#these lines fix inconsistent column/question names/ punctuation for 2009 and 2010
td_seds_2010 = td_seds_2010.rename(columns={"Age at doctorate_all": "Age at doctorate (median years)_all", "Age at doctorate_female": "Age at doctorate (median years)_female", "Age at doctorate_male": "Age at doctorate (median years)_male"})
td_seds_2010 = td_seds_2010.rename(columns={"All doctorate recipients (number)_all": "All doctorate recipients (number)a_all"})
td_seds_2010 = td_seds_2010.rename(columns={"Bachelor's in same field as doctoratea_all": "Bachelor's in same field as doctorate (%)b_all", "Bachelor's in same field as doctoratea_female": "Bachelor's in same field as doctorate (%)b_female", "Bachelor's in same field as doctoratea_male": "Bachelor's in same field as doctorate (%)b_male"})
td_seds_2010 = td_seds_2010.rename(columns={"Master's earned_all": "Master's earned (%)_all", "Master's earned_female": "Master's earned (%)_female", "Master's earned_male": "Master's earned (%)_male"})



#td_seds_2010.head()

In [27]:
folder = "C:/Users/240-370-8956/Dropbox/Research/Visas/Data/NSF Doctorates/sed_2009/data"
    
seds_2009 = pd.read_excel(folder+"/tab52.xls", header = 1)
seds_2009 = seds_2009[seds_2009.Characteristic != "Unknown"].reset_index(drop = True)
seds_2009.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2009.columns[seds_2009.columns.str.startswith('Unnamed:')]
seds_2009.drop(columns=unwanted, inplace=True)
seds_2009.reset_index(drop = True , inplace = True)

#wish I didn't have to hard-code this to last five rows
seds_2009.drop(seds_2009.tail(5).index,inplace=True) # drop last n rows


begin_male = seds_2009[seds_2009.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2009[seds_2009.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []




for i in range(0,len(seds_2009)) :
    if i < begin_male :
        questions += [seds_2009.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2009.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2009.Characteristic[i]+"_female"]

seds_2009["questions"] = questions

for i in range(54 , 66 , 2) :
    df = pd.read_excel(folder+"/tab"+str(i)+".xls", header = 1)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    df.reset_index(drop = True , inplace = True)

    
    df.drop(df.tail(5).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2009 = seds_2009.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])


td_seds_2009 = seds_2009.T

td_seds_2009.index = td_seds_2009.index.str.replace('\n', '', regex=True)

td_seds_2009.columns = td_seds_2009.iloc[list(seds_2009.columns).index("questions")]
td_seds_2009["year"] = ["2009"]*len(td_seds_2009)

td_seds_2009 = td_seds_2009.drop(["Characteristic" , "questions"])

#td_seds_2009.index = td_seds_2009.index+"_2009"


td_seds_2009 = td_seds_2009.rename(columns={"Age at doctorate_all": "Age at doctorate (median years)_all", "Age at doctorate_female": "Age at doctorate (median years)_female", "Age at doctorate_male": "Age at doctorate (median years)_male"})
td_seds_2009 = td_seds_2009.rename(columns={"All doctorate recipients (number)_all": "All doctorate recipients (number)a_all"})
td_seds_2009 = td_seds_2009.rename(columns={"Bachelor's in same field as doctoratea_all": "Bachelor's in same field as doctorate (%)b_all", "Bachelor's in same field as doctoratea_female": "Bachelor's in same field as doctorate (%)b_female", "Bachelor's in same field as doctoratea_male": "Bachelor's in same field as doctorate (%)b_male"})
td_seds_2009 = td_seds_2009.rename(columns={"Master's earned_all": "Master's earned (%)_all", "Master's earned_female": "Master's earned (%)_female", "Master's earned_male": "Master's earned (%)_male"})

#td_seds_2009.head()

In [33]:
#merge 2009-2017 into one df

seds_09_17 = pd.DataFrame()

dfs = [td_seds_2009, td_seds_2010, td_seds_2011, td_seds_2012, td_seds_2013, td_seds_2014, td_seds_2015, td_seds_2016, td_seds_2017]

for i in dfs:  
    seds_09_17 = seds_09_17.append(i)
    
#because a lot of rows in the original excels are empty, now a lot of columns are
#so i'm droping everythign with an all empty column
seds_09_17 = seds_09_17.dropna(axis= 'columns', how='all')

seds_09_17.to_csv("C:/Users/240-370-8956/Dropbox/Research/Visas/Analysis/seds_09_17.csv")


#ok so this messes up variable names a bit. and there are some empty variables
#go through and fix those. will make a list tonight