In [2]:
import pandas as pd

In [63]:
url = "https://ncses.nsf.gov/pubs/nsf20301/assets/data-tables/tables/nsf20301-tab056.xlsx"
seds_2017 = pd.read_excel(url, header = 3)
seds_2017 = seds_2017[seds_2017.Characteristic != "Unknown"].reset_index(drop = True)

begin_male = seds_2017[seds_2017.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2017[seds_2017.Characteristic=="Female doctorate recipients (number)"].index[0]
    
questions = []



for i in range(0,len(seds_2017)) :
    if i < begin_male :
        questions += [seds_2017.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2017.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2017.Characteristic[i]+"_female"]
            
seds_2017["questions"] = questions


for i in range(58 , 70 , 2) :
    url = "https://ncses.nsf.gov/pubs/nsf20301/assets/data-tables/tables/nsf20301-tab0"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 3)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2017 = seds_2017.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])
    #seds_2017 = pd.concat(seds_2017, df)

seds_2017.tail()

,Characteristic,All life sciences fields,Agricultural sciences and natural resources,Biological and biomedical sciences,Health sciences,questions,All physical sciences and earth sciences fields,Chemistry,"Geosciences, atmospheric sciences, and ocean sciences",Physics and astronomy,...,Education administration,Education research,Teacher education,Teaching fields,Other education,All humanities and arts fields,Foreign languages and literature,History,Letters,Other humanities and arts
46,Age at doctorate (median years),30.8,31.0,30,35.3,Age at doctorate (median years)_female,29.2,28.7,30.4,29.5,...,43.8,37.3,41.8,37.0,38,33.9,34.3,33.5,33.4,34.7
47,Time to doctorate (median years),NaN,NaN,NaN,NaN,Time to doctorate (median years)_female,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,From bachelor's,8.3,8.3,7.6,12,From bachelor's_female,6.7,6.2,7.9,7.0,...,19,14,18.8,14.3,14.6,11.0,11.0,10.6,10.6,12.0
49,From graduate school start,6.9,7.3,6.3,9.7,From graduate school start_female,6,5.8,6.8,6.3,...,15.6,11.3,15.6,11.3,12.4,9.3,9.3,9.3,8.9,10.0
50,From doctoral program startc,5.5,5.0,5.7,5,From doctoral program startc_female,5.4,5.3,5.5,5.9,...,5.8,5.8,6.8,5.6,5.8,6.8,6.8,7.0,6.5,6.9

In [21]:
td_seds_2017 = seds_2017.T
td_seds_2017.columns = td_seds_2017.iloc[list(seds_2017.columns).index("questions")]
td_seds_2017["year"] = ["2017"]*len(td_seds_2017)

td_seds_2017 = td_seds_2017.drop(["Characteristic" , "questions"])

In [60]:
#okie doke let's do 2016 now! 
#copy-pasting
#then replacing all the 17s with 16s
#Next, fix the urls



url = "https://nsf.gov/statistics/2018/nsf18304/data/tab56.xlsx"
seds_2016 = pd.read_excel(url, header = 3)
seds_2016 = seds_2016[seds_2016.Characteristic != "Unknown"].reset_index(drop = True)
seds_2016.dropna(subset = ["Characteristic"], inplace=True)
unwanted = seds_2016.columns[seds_2016.columns.str.startswith('Unnamed:')]
seds_2016.drop(columns=unwanted, inplace=True)


#wish I didn't have to hard-code this to last five rows
seds_2016.drop(seds_2016.tail(6).index,inplace=True) # drop last n rows



begin_male = seds_2016[seds_2016.Characteristic=="Male doctorate recipients (number)"].index[0]
begin_female = seds_2016[seds_2016.Characteristic=="Female doctorate recipients (number)"].index[0]


    
questions = []


for i in range(0,len(seds_2016)) :
    if i < begin_male :
        questions += [seds_2016.Characteristic[i]+"_all"]
    elif begin_male <= i <= begin_female :
        questions += [seds_2016.Characteristic[i]+"_male"]
    elif i > begin_female :
        questions += [seds_2016.Characteristic[i]+"_female"]

seds_2016["questions"] = questions

        
    
for i in range(58 , 70 , 2) :
    url = "https://nsf.gov/statistics/2018/nsf18304/data/tab"+str(i)+".xlsx"
    df = pd.read_excel(url, header = 3)
    df = df[df.Characteristic != "Unknown"].reset_index(drop = True)
    df.dropna(subset = ["Characteristic"], inplace=True)
    unwanted = df.columns[df.columns.str.startswith('Unnamed:')]
    df.drop(columns=unwanted, inplace=True)
    
    df.drop(df.tail(6).index,inplace=True) # drop last n rows

    
    begin_male = df[df.Characteristic=="Male doctorate recipients (number)"].index[0]
    begin_female = df[df.Characteristic=="Female doctorate recipients (number)"].index[0]
    
    questions = []
    

    
    for i in range(0,len(df)) :
        if i < begin_male :
            questions += [df.Characteristic[i]+"_all"]
        elif begin_male <= i <= begin_female :
            questions += [df.Characteristic[i]+"_male"]
        elif i > begin_female :
            questions += [df.Characteristic[i]+"_female"]
            
    df["questions"] = questions
    
    seds_2016 = seds_2016.join(df.set_index(["questions","Characteristic"]) , on=["questions","Characteristic"])
    #seds_2016 = pd.concat(seds_2016, df)


#seds_2016.tail()

,Characteristic,All life sciences fields,Agricultural sciences and natural resources,Biological and biomedical sciences,Health sciences,questions,All physical sciences and earth sciences fields,Chemistry,"Geosciences, atmospheric, and ocean sciences",Physics and astronomy,...,Education administration,Education research,Teacher education,Teaching fields,Other education,All humanities and arts fields,Foreign languages and literature,History,Letters,Other humanities and arts
46,Age at doctorate (median years),30.9,31.6,30.1,35.7,Age at doctorate (median years)_female,29.3,28.7,30.4,29.5,...,44.4,36.9,42.2,37.9,38.8,33.8,34.3,33.2,33.2,34.5
47,Time to doctorate (median years),NaN,NaN,NaN,NaN,Time to doctorate (median years)_female,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,From bachelor's,8.3,8.7,7.6,12.2,From bachelor's_female,6.8,6.2,7.8,7.1,...,19,13.5,16.9,15.0,15.5,11,11.0,10.7,10.6,11.6
49,From graduate school start,6.7,7.0,6.3,9.5,From graduate school start_female,6,5.7,6.7,6.3,...,15.3,11.0,13.3,11.6,12.7,9.3,9.0,9.2,9.0,9.7
50,From doctoral program startc,5.7,5.1,5.7,5.3,From doctoral program startc_female,5.4,5.3,5.6,5.8,...,6.2,6.0,6.3,5.9,6.6,7,6.7,7.2,6.7,7.3

In [65]:
td_seds_2016 = seds_2016.T
td_seds_2016.columns = td_seds_2016.iloc[list(seds_2016.columns).index("questions")]
td_seds_2016["year"] = ["2016"]*len(td_seds_2016)

td_seds_2016 = td_seds_2016.drop(["Characteristic" , "questions"])

td_seds_2016.head()

questions,All doctorate recipients (number)a_all,Sex (%)_all,Male_all,Female_all,Citizenship (%)_all,U.S. citizen or permanent resident_all,Temporary visa holder_all,Marital status (%)_all,Never married_all,Married_all,...,Marriage-like relationship_female,"Separated, divorced, widowed_female",Bachelor's in same field as doctorate (%)b_female,Master's earned (%)_female,Age at doctorate (median years)_female,Time to doctorate (median years)_female,From bachelor's_female,From graduate school start_female,From doctoral program startc_female,year
All life sciences fields,12568,NaN,0.449,0.551,NaN,0.692,0.268,NaN,0.331,0.451,...,0.1,0.035,0.506,0.519,30.9,NaN,8.3,6.7,5.7,2016
Agricultural sciences and natural resources,1385,NaN,0.549,0.451,NaN,0.558,0.407,NaN,0.304,0.5,...,0.085,0.034,0.397,0.76,31.6,NaN,8.7,7,5.1,2016
Biological and biomedical sciences,8884,NaN,0.469,0.531,NaN,0.701,0.26,NaN,0.359,0.422,...,0.114,0.025,0.549,0.397,30.1,NaN,7.6,6.3,5.7,2016
Health sciences,2299,NaN,0.313,0.687,NaN,0.739,0.212,NaN,0.242,0.532,...,0.062,0.066,0.419,0.787,35.7,NaN,12.2,9.5,5.3,2016
All physical sciences and earth sciences fields,6252,NaN,0.686,0.314,NaN,0.586,0.37,NaN,0.407,0.371,...,0.114,0.029,0.668,0.499,29.3,NaN,6.8,6,5.4,2016

In [ ]:
#append all dfs for years

In [19]:
td_seds_2017.to_csv("C:/Users/240-370-8956/Dropbox/Research/Visas/Analysis/seds_2017.csv")